.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 4vh;
    height: 60px;
    /* overflow: hidden; */
    max-width: 1355px;
    gap: 4vw;
    align-items: center;
    justify-content: space-between;
}

.navbar div {
    font-weight: 500;
    padding: 5px;
}

.navbar div:hover {
    color: #b6d7a8;
    cursor: pointer;
}


.nav-dropdown{
    position:relative;
    display: inline-block;
    
}

.dropdown-menu{
    display:none;
    position:absolute;
    background-color: white;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0, 0, 0, 0.043);
    z-index:1;
    width:300px;
  
}

.dropdown-menu a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color:black;
    font-weight: 400;
}

.dropdown-menu a:hover{
    color: #b6d7a8;
       
        cursor: pointer;
}

.nav-dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-button{
    border-bottom: none;
}

@media screen and (max-width:1223px){
    .navbar{
        gap:1vw;
    }
}

@media screen and (max-width:973px){
    

}
