.popupCourse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.621);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 'translate(-50%,-50%';
    z-index: 1000;
}


.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: white;
    border-radius: 10px;
}

.popup-inner .close-course-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background-color: #b6d7a8;
    color: #b6d7a8;
    font-weight: bold;
    padding: 0.2rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width: 8rem;
    display: block;
    border-radius: 10rem;
    border: 2px solid #b6d7a8;
    background-color: transparent;

}

#close-bttn{
    background-color: #b6d7a8;
    color: black;
}
#close-bttn:hover{
    background-color: #b6d7a858;
}