.container {
    display: flex;
    flex-direction: row;
  }
  
  .column1 {
    width: 50%;
    background-image: url('../../assets/images/shoes.jpg');
    background-size: cover;
    padding: 400px;
  }
  
  .column2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }




  